
form.account-form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #525252;
  color: #222;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

form.account-form h1, h4 {
  text-align: center;
  color: rgb(221, 221, 221);
}

form.account-form * {
  margin-top: 5px;
  margin-bottom: 5px;
}

form.account-form input.form-control {
  padding: 12px;
  box-sizing: border-box;
  width: 95%;
  display: inline-block;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 3px;

}

form.account-form button {
  margin-left: 200px;
  color: white;
  background-color: #d55526;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
}

.account-form div.error-msg {
  color: #ff6666;
  font-weight: 900;
}

div.dropdown-item {
  display: inline-inline-block;
}

textarea.form-control {
  padding: 12px;
  box-sizing: border-box;
  width: 95%;
  display: inline-block;
  border: 1px solid rgb(91, 91, 91);
  border-radius: 3px;

}
