body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  background-color: #a34110;
}

.hero {
  background-color: #2a292a;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  line-height: 1.0em;
  font-size: 18px;
}

.hero h1 {
  font-size: 50px;
  font-weight: 450;
  line-height: 1.3em;
  text-align: center;
  max-width: 810px;
  padding: 0 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.hero a {
  text-align: left;
  max-width: 810px;
  padding: 0 20px 20px;

  margin-left: auto;
  margin-right: auto;
}

.tagline {
  color: #ffffff;
  opacity: 0.5;
  background-color: #a34110;
  padding: 50px 0;
  text-align: center;
  line-height: 1.0em;
  font-size: 25px;
}
