
form.menu-form {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #525252;
  color: #222;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
}

form.menu-form * {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

input.menu-control {
  width: 90%;
  border-radius: 5px;
}
textarea {
  width: 90%;
  border-radius: 5px;
}

h4 {
  color: white;
}

form.menu-form button {
  margin-left: 200px;
  color: white;
  background-color: #d55526;
}
